footer {
  height: 40%;
  padding: 2em 4em;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  color: var(--primary-bg-color);
}

footer a {
  text-decoration: none;
  color: var(--primary-bg-color);
}

footer p {
  margin: 0;
}

.underlined_text {
  border-bottom: 2px solid var(--primary-bg-color);
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 45%;
  gap: 2em;
  padding: 3em 0;
  border-bottom: 1px solid var(--primary-bg-color);
  align-items: center;
}

.logo_footer {
  width: 12em;
}

.contact {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 2em;
}

.footer_social_link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.footer_social_link img {
  width: 25px;
}

.visit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  padding: 3em 0;
  border-bottom: 1px solid var(--primary-bg-color);
}

.visit section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legals {
  font-size: 12px;
  padding: 2em 0;
}
