@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #a99e90;
  --text-color: #000000;
  --logo-color: #dbccb3;
  --highligth-color: #a32c2b;
  --font-family: "Outfit", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--primary-bg-color);
}
